
import(parallel)
import(bsseq) 
import(methylKit)
import(DSS)
import(DNAcopy)
import(GenomicRanges)
importFrom(DelayedArray, "rowSums")

export(calcLociStat)
export(getSigRegion)
export(segmentMethCP)
exportClasses(MethCP)
exportMethods(show)
